<ion-header>
  <ion-toolbar>
    <ion-title>tnc</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <ion-text>
    Welcome! All cannabis products will be included for FREE with consultation
    cost and each cannabis product has a set consultation price on our menu. We
    do NOT deliver to any location inside Virginia or Maryland. Surrounding
    state residence and out of state visitors are welcome to make an appointment
    using a DC address. </ion-text
  ><br /><br /><br />
  <ion-text color="primary">
    RECOMMENDED MEETUP ADDRESS:<br />
    1415 Rhode Island Ave NW Washington, DC 20005
  </ion-text>
  <br />
  <ion-text color="primary"> Order Minimum: $50 NO Delivery Fees.</ion-text>
  <br />
  <ion-text color="primary">Must 21+ Years To Enter.</ion-text> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Please Read Carefully</ion-card-subtitle>
      <ion-card-title>Terms and Condition</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      All cannabis products will be included for FREE with consultation cost and
      each cannabis product has a set consultation price on our menu. We do NOT
      deliver to any location inside Virginia or Maryland. Surrounding state
      residence and out of state visitors are welcome to make an appointment
      using a DC address.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Meet Up Address</ion-label>
    </ion-item>

    <ion-card-content>
      1415 Rhode Island Ave NW Washington, DC 20005
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label> Minimum Order</ion-label>
    </ion-item>

    <ion-card-content>
      $50 NO Delivery Fees1415 Rhode Island Ave NW Washington, DC 20005
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label> Not Allowed</ion-label>
    </ion-item>

    <ion-card-content>
      You Should be Greater then 21+ years old before Entering this app.
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" (click)="setVal()" color="secondary"
    >Enter</ion-button
  >
  <ion-button expand="full" color="danger">Please Close the App</ion-button>
</ion-content>
